@font-face {
  font-family: "Poppins";
  src: url(../font/Poppins-Regular.otf);
}

@font-face {
  font-family: "Poppins-Bold";
  src: url(../font/Poppins-Bold.otf);
}

* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", Arial, Helvetica, sans-serif;
  scroll-behavior: smooth;
}

.menu-toggle {
  display: none;
  flex-direction: column;
  justify-content: space-between;
  height: 20px;
  margin-left: 250px;
}

.menu-toggle span {
  display: block;
  width: 28px;
  height: 3px;
  background-color: #fff;
}

nav ul span {
  display: none;
  position: absolute;
  top: 50px;
  bottom: 50px;
  width: 45px;
  height: 5px;
  background-color: #fff;
  border-radius: 5px;
}

nav {
  position: fixed;
  right: 0;
  left: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgba(0, 255, 255, 0);
  padding: 0 170px 0 170px;
  color: #fff;
  z-index: 99;
  transition: 1s;
}

nav ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
  height: 80px;
  width: 400px;
}

nav ul li a {
  text-decoration: none;
  color: azure;
}

nav.sticky {
  background-color: black;
  transition: 0.5s;
}

.hero {
  position: relative;
  /* top: -80px; */
  width: 100%;
  height: 100vh;
  background-image: url(../img/main.jpg);
  background-size: cover;
  background-position: center;
  overflow-x: hidden;
}

.text {
  line-height: 90px;
  margin: 100px 100px;
  position: absolute;
  color: #fff;
  top: 50px;
  font-size: 2.5em;
}

.About {
  display: flex;
  justify-content: space-between;
  overflow-x: hidden;
  margin-top: 80px;
}

.tentang {
  margin-left: 120px;
}

.About span {
  display: block;
  width: 80px;
  margin-top: 60px;
  background-color: rgb(218, 218, 218);
  padding: 13px;
  font-weight: 550;
  font-size: 14px;
  color: rgb(64, 64, 64);
}

.About h3 {
  margin-top: 20px;
  font-size: 45px;
  font-weight: bold;
}

.About a {
  margin-top: 55px;
  font-size: 20px;
  line-height: 30px;
  /* margin: 100px 100px; */
  text-decoration: none;
  color: #fff;
  background-color: rgba(0, 0, 0, 0.916);
  display: inline-block;
  padding: 15px 45px;
  border: 2px solid #fff;
  font-family: "Poppins";
  transition: all 0.5s cubic-bezier(0, 0, 0.1, 1);
  cursor: pointer !important;
}

.About a:hover {
  font-size: 20px;
  color: rgb(31, 31, 31);
  background: #fff;
  border: 2px solid rgb(0, 0, 0);
  outline: none;
}

.About img {
  display: inline;
  width: 500px;
  margin-left: 70px;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
}

.About h1 {
  text-align: center;
  color: rgb(26, 26, 26);
  font-size: 2.5rem;
}

.About p {
  width: 700px;
  margin-top: 50px;
  line-height: 30px;
}

.Porto {
  margin-top: 80px;
  background-color: #f9f9f9f9;
}

.Porto .section {
  display: flex;
  justify-content: space-between;
}

.Porto .section ul {
  display: flex;
  justify-content: space-between;
  margin-top: 43px;
  margin-right: 50px;
}

.Porto .section ul li {
  list-style: none;
  padding-right: 50px;
}

.Porto .section ul li a {
  text-decoration: none;
  color: rgba(0, 0, 0, 0.902);
  font-weight: bold;
}

.Porto span {
  display: inline-block;
  margin-top: 50px;
  margin-left: 80px;
  width: 80px;
  background-color: rgb(218, 218, 218);
  padding: 13px;
  font-weight: 550;
  font-size: 14px;
  color: rgb(64, 64, 64);
}

.Porto h3 {
  margin-top: 30px;
  margin-left: 80px;
  font-size: 40px;
  font-weight: bold;
}

.gallery {
  display: grid !important;
  justify-items: center;
  margin-right: 190px;
  margin-left: 80px;
  margin-top: 80px;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 30px;
}

.gallery img {
  margin-right: -70px;
  width: 350px;
}

.bar {
  margin-top: 200px;
  margin-left: 90px;
  display: flex;
}

.bar h3 {
  margin-top: 20px;
  font-size: 35px;
  font-weight: bold;
  margin-bottom: 40px;
}

.bar p {
  color: rgb(125, 125, 125);
  line-height: 32px;
}

.bar section .web-bar {
  padding-top: 20px;
  margin-top: 20px;
  margin-left: 130px;
  display: flex;
  justify-content: space-between;
  width: 500px;
}

.bar section .web {
  margin-left: 132px;
  width: 470px;
  height: 3px;
  background-color: black;
}

.bar section .brand {
  margin-left: 132px;
  width: 400px;
  height: 3px;
  background-color: black;
}

.bar section .logo {
  margin-left: 132px;
  width: 450px;
  height: 3px;
  background-color: black;
}

.video {
  position: relative;
  margin-top: 200px;
}

.video img {
  width: 100%;
}

.video .buton .play {
  cursor: pointer;
  position: absolute;
  top: 190px;
  left: 633px;
  width: 100px;
  height: 100px;
  background-color: #fff;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.video .buton .play::before {
  content: "";
  position: absolute;
  border: 25px solid #000;
  border-top: 15px solid transparent;
  border-bottom: 15px solid transparent;
  border-right: 15px solid transparent;
  transform: translate(10px);
}

.video .buton a {
  font-family: "Poppins" Arial, Helvetica, sans-serif;
  position: absolute;
  top: 450px;
  left: 560px;
  margin-top: 55px;
  font-size: 20px;
  line-height: 30px;
  /* margin: 100px 100px; */
  text-decoration: none;
  color: #fff;
  background-color: rgba(0, 0, 0, 0);
  display: inline-block;
  padding: 15px 45px;
  border: 2px solid #fff;
  font-family: "Poppins";
  transition: all 0.5s cubic-bezier(0, 0, 0.1, 1);
  cursor: pointer !important;
}

.video .buton a:hover {
  font-size: 20px;
  color: rgb(31, 31, 31);
  background: #fff;
  border: 2px solid rgb(255, 255, 255);
  outline: none;
}

.video .buton h3 {
  position: absolute;
  text-align: center;
  top: 320px;
  left: 420px;
  font-weight: bold;
  font-size: 35px;
  color: #fff;
}

.video .clip {
  position: absolute;
  top: 0;
  left: 4%;
  transform: scale(0);
  width: 100px;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.video .clip video {
  max-width: 900px;
}

.video .clip.active {
  transform: scale(1);
}

.contact {
  margin-top: -7px;
  width: 100%;
  padding: 20px;
  position: relative;
  box-sizing: border-box;
  background: #f9f9f9f9;
}

.contact h2 {
  width: 100%;
  color: #333;
  font-size: 36px;
  text-align: center;
  margin-top: 100px;
  margin-bottom: 50px;
}

.contact .row100 {
  width: 100%;
  position: relative;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
}

.contact .row100 .col {
  position: relative;
  width: 100%;
  padding: 0 10px;
  margin: 30px 0 10px;
  transition: 0.5s;
}

.contact .row100 .inputBox {
  position: relative;
  width: 95%;
  height: 40px;
  color: #333;
  margin-bottom: 30px;
}

.contact .row100 .textarea {
  width: 100%;
  height: 100%;
  display: block;
}

.contact .row100 .inputBox input,
.contact .row100 .inputBox.textarea textarea {
  position: absolute;
  width: 100%;
  height: 100%;
  background: transparent;
  box-shadow: none;
  border: none;
  outline: none;
  font-size: 18px;
  padding: 0 10px;
  z-index: 1;
  color: #000;
}

.contact .row100 .inputBox .texts {
  position: absolute;
  top: 0;
  left: 0;
  line-height: 40px;
  font-size: 18px;
  padding: 0 10px;
  display: block;
  transition: 0.5s;
  pointer-events: none;
}

.contact .row100 .inputBox input:focus + .texts,
.contact .row100 .inputBox input:valid + .texts {
  top: -35px;
  left: -10px;
}

.contact .row100 .inputBox .line {
  position: absolute;
  bottom: 0;
  display: block;
  width: 100%;
  height: 2px;
  background: #bbbbbb;
  transition: 0.5s;
  border-radius: 2px;
  pointer-events: none;
}

.contact .row100 .inputBox input:focus ~ .line,
.contact .row100 .inputBox input:valid ~ .line {
  height: 100%;
}

.contact .row100 .inputBox.textarea {
  position: relative;
  width: 100%;
  height: 100%;
  padding: 10px 0;
}

.contact .row100 .inputBox.textarea textarea {
  height: 100px;
  resize: none;
}

.contact .row100 .inputBox textarea:focus + .texts,
.contact .row100 .inputBox textarea:valid + .texts {
  top: -35px;
  left: -10px;
}

.contact .row100 .inputBox textarea:focus ~ .line,
.contact .row100 .inputBox textarea:valid ~ .line {
  height: 100%;
}

input[type="submit"] {
  margin-left: -100%;
  margin-bottom: 70px;
  font-size: 20px;
  line-height: 30px;
  /* margin: 100px 100px; */
  text-decoration: none;
  color: #fff;
  background-color: rgba(0, 0, 0, 0.916);
  display: inline-block;
  padding: 7px 35px;
  border: 2px solid #fff;
  font-family: "Poppins";
  transition: all 0.5s cubic-bezier(0, 0, 0.1, 1);
  cursor: pointer !important;
}

input[type="submit"]:hover {
  font-size: 20px;
  color: rgb(31, 31, 31);
  background: #fff;
  border: 2px solid rgb(0, 0, 0);
  outline: none;
}

/*Todo */
footer {
  text-align: center;
  color: rgb(222, 222, 222);
  height: 80px;
  background-color: #333;
  font-size: 18px;
  padding-top: 70px;
}
/*Todo */

.galery {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
}
.cv {
  font-size: 15px;
  line-height: 33px;
  /* margin: 100px 100px; */
  text-decoration: none;
  color: #fff;
  background-color: rgba(0, 0, 0, 0);
  display: inline-block;
  padding: 10px 35px;
  border: 2px solid #fff;
  transition: all 0.5s cubic-bezier(0, 0, 0.1, 1);
  cursor: pointer !important;
}

.cv:hover {
  font-size: 15px;
  color: rgb(31, 31, 31);
  background: #fff;
  border: 2px solid rgb(255, 255, 255);
  outline: none;
}

@media screen and (max-width: 922px) {
  .video .buton {
    display: none;
  }

  .video .clip video {
    max-width: 90%;
  }

  .bar .b {
    display: none;
  }

  .tentang {
    display: none;
  }

  .About img {
    width: 500px;
  }

  nav ul {
    width: 400px;
    margin-right: -100px;
  }

  nav h1 {
    position: absolute;
    left: 0;
    margin-left: 50px;
  }
}

@media screen and (max-width: 600px) {
  .menu-toggle {
    display: flex;
  }

  .About img {
    width: 400px;
  }

  .gallery {
    margin: 0;
    margin-top: 80px;
    margin-left: -45px;
  }

  .Porto .section ul {
    display: none;
  }

  .text {
    margin: 100px 50px;
    font-size: 2.3em;
  }

  nav {
    height: 80px;
  }

  nav h1 {
    margin-left: 50px;
  }

  nav ul {
    display: none;
  }
}
